<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern=" [%t] %-5level %logger{36}.%M - SCHEMA=$${ctx:current_schema} %msg%n" />
		</Console>
		
		 
	</Appenders>
	 <loggers>     
    <root level="trace">
      <appender-ref ref="Console" level="DEBUG"/>
      
    </root>    
  </loggers>
</Configuration>